.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}



chart,
.chart,
.chart svg{
    display: block;
    width: 100%;
    min-height: 300px;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart {
    svg{
        overflow: visible;
    }
    margin: 0 0 20px 0;
}

.main text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

.bar.chart{
    svg{
        overflow: visible;
    }
    .axis.axis--x{
        text{
            transform: rotate(30deg) translate(0px, 20px);
            transform: ;
        }
    }
}