<div class="container-fluid">
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<h3>Users:</h3>-->
        <!--<users></users>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<h3>Content:</h3>-->
            <!--<contentList></contentList>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-12">
            Charts
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart" type="bar"></chart>
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart" type="line"></chart>
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart" type="pie"></chart>
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart" type="scatter"></chart>
        </div>
    </div>
</div>