<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            Charts
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart bar" type="bar" [options]="barChartOptions"></chart>
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart" type="pie" [options]="pieChartOptions"></chart>
        </div>
        <div class="col-xs-12 col-sm-6">
            <chart class="chart " type="line"></chart>
        </div>
        <!--<div class="col-xs-12 col-sm-6">-->
            <!--<chart class="chart" type="scatter"></chart>-->
        <!--</div>-->
    </div>
</div>